<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moralabs.pet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".PetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PET"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".profile.presentation.ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".notification.presentation.ui.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".message.presentation.ui.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".newPost.presentation.ui.NewPostActivity"
            android:exported="false" />
        <activity
            android:name=".offer.presentation.ui.OfferActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.presentation.ui.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.presentation.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".mainPage.presentation.ui.MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.presentation.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.presentation.ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".core.presentation.ui.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>